<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<h1>Редактировать пользователя</h1>
<form th:action="@{/update}" method="post" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.id}">
    <div>
        <label>Имя: <input type="text" th:field="*{username}" required></label>
    </div>
    <div>
        <label>Пароль: <input type="text" th:field="*{password}" required></label>
    </div>
    <div>
        <label>Возраст: <input type="number" th:field="*{age}" required></label>
    </div>
    <button type="submit">Обновить</button>
</form>
<a th:href="@{/admin}">Назад к списку</a>
</body>
</html>